<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% assets "all_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  <link rel="icon" href="{{url_for('static', filename='images/favicon.png')}}">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">MTA Elev &amp; Esc Map</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/berryny/open_data_python_mta">GitHub</a>
            </li>
          </ul>
          <form class="d-flex social-media">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://github.com/berryny"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/jdesire/"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
    {{content}}

  </main>
  <footer class="my-4 text-center">
    {% block footer %}
    &copy; <span class="year"></span> Python and Flask Boiler Plate
    {% endblock %}
  </footer>

  {% assets "all_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>

</html>